/* The :root section should be used for declaring global variables. */
:root {
    --color-scheme: light;
    --font-family: system-ui;
    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

    --global-wrapper: clamp(3vw, 15%, 20%);
}

/* Standard resets and default fonts; color schemes. */
* {
    font-family: var(--font-family);
    color-scheme: var(--color-scheme);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Navigation Related CSS */
nav {
    box-shadow: 3px 3px 5px hsl(0 0 0);
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: large;
}

nav a:hover {
    background-color: hsl(28, 100%, 50%);
    color: white;
}

nav li:first-child {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

nav li:first-child a:hover {
    background-color: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: white;
    backdrop-filter: blur(5px);
    box-shadow: -5px 0 5px black;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu {
    display: none;
}

@media(max-width: 1024px) {
    .hideOnMobile {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media(max-width: 480px) {
    .sidebar {
        width: 100%;
    }
}

/* Navigation End */

.logo {
    height: 46px;
    padding-inline-end: 10px;
}

.container-header {
    width: 100%;
    position: relative;
}

.membership-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    height: auto;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-in-out;
    perspective: 1000px;
}

.card:hover {
    transform: rotate(3deg);
    background-color: hsl(28, 100%, 50%);
    color: white;
}

.card-inner {
    padding-inline: 10px;
}

.card h2 {
    font-size: var(--fs-500);
}

.card p {
    font-size: var(--fs-300);
}

.card .price-label {
    font-size: var(--fs-400);
}

.header-popup {
    position: absolute;
    left: 15%;
    top: calc(50% - 175px);
    background-color: white;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.flex-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.center-text {
    text-align: center;
}

.wrapper {
    margin-inline: var(--global-wrapper);
}

.wrapper-padded {
    margin-inline: 0;
    padding-inline: var(--global-wrapper);
    padding-top: 15px;
    padding-bottom: 15px;
}

.margin-top {
    margin-top: 15px;
}

.margin-top>* {
    margin-top: 15px;
}

.clr-bg-orange {
    background-color: hsl(28, 100%, 50%);
    color: white;
}

.clr-ft-orange {
    color: hsl(28, 100%, 50%);
}

.font-wt-bold {
    font-weight: bold;
}

.card-link {
    min-width: 200px;
    height: 200px;
    flex-grow: 1;
    text-decoration: none;

    flex-basis: calc(20% - 200px);
    color: black;
}

h1 {
    font-size: var(--fs-600);
}
footer {
    background-color: hsl(28, 100%, 41%);
    color: white;
    padding-inline: var(--global-wrapper);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: var(--fs-300);
}

p {
    font-size: var(--fs-400);
}
/* Button Styles */
.button-3 {
    appearance: none;
    background-color: hsl(28, 100%, 50%);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: hsl(28, 100%, 45%);
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: hsl(28, 100%, 41%);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* End Button */

/* Gallery */
.gallery-container {
    max-width: 100%;
    position: relative;
    margin-inline: auto;
    background-color: hsl(28, 100%, 50%);
}

.slide {
    display: none;
}
.previous-button,
.next-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -32px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next-button {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption {
    color: white;
    font-size: var(--fs-300);
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.391);
}

.slide-number {
    color: white;
    font-size: var(--fs-300);
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dimple {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dimple:hover {
    background-color: #717171;
}

.gallery-container > div{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* End Gallery */
.debug {
    border: 2px solid purple;
}